[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

arrow = "==0.12.1"
"backports.functools_lru_cache" = "==1.5"
construct = "==2.5.3"
python-dateutil = "==2.7.3"
sensor = "==4"


[dev-packages]



[requires]

python_version = "2.7"
